<!DOCTYPE html>
<html>	
<head>
	<title>Edit Faculty Details</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/demo.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all" />
	<meta name="keywords" content="Edit Faculty Details For Id Card" />
</head>

<body>
	{% extends "base.html" %}

	{% block content %}
	
	    <div class="cont">
   <header>
    <h1 class="head">Edit Faculty: {{name}}</h1>
  </header>       
  <div  class="form" >

	    <form id="contactform" method="post" action="{% url 'facultySave' %}" enctype="multipart/form-data">{% csrf_token %}
	        
			<p class="contact"><label for="name">Name*</label></p>{{form.name}}
			<p class="contact"><label for="designation">Designation*</label></p>{{form.designation}}
			<fieldset><label for="dateofbirth">Date of Birth*&nbsp </label>{{form.dateofbirth}}</fieldset> 
			<p class="contact"><label for="bloodgroup">Blood Group*</label></p>{{form.bloodgroup}}
			<p class="contact"><label for="address">Address*</label></p>{{form.address}}
			<p class="contact"><label for="contact">Contact*</label></p>{{form.contact}}
			<p class="contact"><label for="barcode_serial">Barcode Serial*</label></p> 
      {{form.barcode_serial}}<br> 
			<p class="contact"><label for="photo">Photo:</label></p>{{form.photo}}
			<input type="hidden" name="fac" id="range" value="{{instance.pk}}">
			<input class="buttom" name="submit" id="submit" value="Edit" type="submit">
	    </form>

</div>      
</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>

</html>

{% endblock %}