<!DOCTYPE html>
<html>
<head>
  <title>Student Registration</title>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/demo.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all" />

</head>

<body>
  {% extends "base.html" %}

  {% block content %}
  {% if messages %}
      {% for message in messages %}
        {% if message.tags == "success" %}
          <div class="alert alert-success fade in text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
          </div>
        {% else %}
           <div class="alert alert-danger fade in text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
  {% endif %}
  <div class="cont">
   <header>
    <h1 class="head">Faculty Registration</h1>
  </header>       
  <div  class="form" >
  	{{ form.non_field_errors }}
    <form id="contactform" action="{% url 'facultyRegistration' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
     <p class="contact"><label for="{{form.name.id_for_label}}">Name*</label></p> 
     <input id="id_name" maxlength="200" name="name" type="text" required="" />

     <p class="contact"><label for="{{form.designation.id_for_label}}">Designation*</label></p> 
     <input id="id_designation" maxlength="200" name="designation" type="text" required="" />
  
     <fieldset><label for="{{form.dateofbirth.id_for_label}}">Date of Birth* &nbsp </label>
     {{form.dateofbirth}}</fieldset>

      <p class="contact"><label for="{{form.bloodgroup.id_for_label}}">Blood Group*</label></p> 
       <input id="id_bloodgroup" maxlength="200" name="bloodgroup" type="text" required="" />
     
      <p class="contact"><label for="{{form.address.id_for_label}}">Address*</label></p> 
      <input id="id_address" maxlength="200" name="address" type="text" required="" />

      <p class="contact"><label for="{{form.contact.id_for_label}}">Contact No.*</label></p> 
      <input id="id_contact" maxlength="10" name="contact" type="text" required="" />  <br>

      <p class="contact"><label for="{{form.barcode_serial.id_for_label}}">Barcode Serial*</label></p> 
      <input id="id_barcode_serial" maxlength="10" name="barcode_serial" type="text" required="" /><br>

      <p class="contact"><label for="{{form.photo.id_for_label}}">Photo*</label></p> 
      <input id="id_photo" name="photo" type="file" required="" /><br>

      <input class="buttom" name="submit" id="submit" value="Register" type="submit">    
    </form> 
  </div>      
</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>

</html>

{% endblock %}