<!DOCTYPE html>
<html>
<head>
  <title>Student Registration</title>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/demo.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all" />

</head>

<body>
  {% extends "base.html" %}

  {% block content %}
  {% if messages %}
      {% for message in messages %}
        {% if message.tags == "success" %}
          <div class="alert alert-success fade in text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
          </div>
        {% else %}
           <div class="alert alert-danger fade in text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
  {% endif %}
  <div class="cont">
   <header>
    <h1 class="head">Faculty Registration</h1>
  </header>       
  <div  class="form" >
  	{{ form.non_field_errors }}
    <form id="contactform" action="{% url 'faculty' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
     <p class="contact"><label for="{{form.name.id_for_label}}">Name</label></p> 
     <input id="id_name" maxlength="200" name="name" type="text" required="" />

     <p class="contact"><label for="{{form.designation.id_for_label}}">Designation</label></p> 
     <input id="id_designation" maxlength="200" name="designation" type="text" required="" />

     <fieldset>
       <label>Date of Birth</label>
       <label class="month"> 
        <select class="select-style" name="month">
          <option value="">Month</option>
          <option  value="01">January</option>
          <option value="02">February</option>
          <option value="03" >March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12" >December</option>
        </select>
      </label> 
       <label class="day"> 
        <select class="select-style" name="day">
          <option value="">Day</option>
          <option  value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
      </label>   

     <!-- <label>Day<input class="day" maxlength="2" name="day"  placeholder="Day" required=""></label> -->
      <label>Year <input class="year" maxlength="4" name="year" placeholder="Year" required=""></label>
    </fieldset>
  
   <p class="contact hide"><label for="{{form.dateofbirth.id_for_label}}">Date of Birth</label></p> 
  {{form.dateofbirth}}

  <p class="contact"><label for="{{form.bloodgroup.id_for_label}}">Blood Group</label></p> 
  <input id="id_bloodgroup" maxlength="200" name="bloodgroup" type="text" required="" />
 
  <p class="contact"><label for="{{form.address.id_for_label}}">Address</label></p> 
  <input id="id_address" maxlength="200" name="address" type="text" required="" />
<!--
    <select class="select-style gender" name="gender">
      <option value="select">i am..</option>
      <option value="m">Male</option>
      <option value="f">Female</option>
      <option value="others">Other</option>
    </select><br><br>
  -->
  <p class="contact"><label for="{{form.contact.id_for_label}}">Contact No.</label></p> 
  <input id="id_contact" maxlength="10" name="contact" type="text" required="" /> <br>

 <p class="contact"><label for="{{form.photo.id_for_label}}">Photo</label></p> 
  <input id="id_photo" name="photo" type="file" required="" /> <br>

  <input class="buttom" name="submit" id="submit" value="Register" type="submit" onclick="fun()">    
</form> 
</div>      
</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
function fun(){
  document.getElementById("id_dateofbirth").value = 
    document.getElementsByClassName("year")[0].value + '-' +
    document.getElementsByClassName("select-style")[0].value + '-' +
    document.getElementsByClassName("select-style")[1].value
}

$(window).bind('load', function () {
  document.getElementById("id_dateofbirth").style.display="none";
  document.getElementsByClassName("hide")[0].style.display="none";
});
</script>

</body>

</html>

{% endblock %}