<!DOCTYPE html>
<html>
<head>
	<title>Student Template Edit</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/demo.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css" media="all" />
	<style>

	#canvas {
		width: 420px;
		height: 600px;
		border: 5px solid #6699FF;
	}

	</style>

</head>

<body>
	{% extends "base.html" %}

	{% block content %}
	<div class="container-fluid">
		<div class="row clearfix">

			<div class="col-sm-8 col-md-8 column col-sm-offset-0 col-md-offset-0">

				<form class="form-horizontal form" action="{% url 'studentTemplate' %}" method="post" enctype='multipart/form-data'> {% csrf_token %}
					<fieldset>

						<!-- Form Name -->
						<legend>Edit Student Template</legend>
						<!-- Select Basic -->
						<div class="form-group">
							<label class="col-md-2 control-label" for="{{form.collegeName.id_for_label}}">College</label>  
							<div class="col-md-10">
								<input id="id_college" name="collegeName" type="text" placeholder="College Name" class="form-control input-md" value="{{i.collegeName}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="{{form.collegeNameFont.id_for_label}}">College Font</label>
							<div class="col-md-4">
								<select id="id_cfont" name="collegeNameFont" class="form-control">
									<option value="{{i.collegeNameFont}}">{{i.collegeNameFont}}</option>
									<option value="Times-Roman">Times-Roman</option>
									<option value="Times-Bold">Times-Bold</option>
									<option value="Times-Italic">Times-Italic</option>
									<option value="Times-BoldItalic">Times-BoldItalic</option>
									<option value="Courier">Courier</option>
									<option value="Courier-Bold">Courier-Bold</option>
									<option value="Courier-Oblique">Courier-Oblique</option>
									<option value="Courier-BoldOblique">Courier-BoldOblique</option>
									<option value="Helvetica">Helvetica</option>
									<option value="Helvetica-Bold">Helvetica-Bold</option>
									<option value="Helvetica-Oblique">Helvetica-Oblique</option>
									<option value="Helvetica-BoldOblique">Helvetica-BoldOblique</option>
									<option value="Symbol">Symbol</option>
									<option value="ZapfDingbats">ZapfDingbats</option>
								</select>
							</div>
							<label class="col-md-2 control-label" for="{{form.collegeNameFontSize.id_for_label}}">College Font-Size</label>
							<div class="col-md-4">
								<input id="id_cfontsize" name="collegeNameFontSize" type="text" placeholder="Font-Size" class="form-control input-md" value="{{i.collegeNameFontSize}}">
								
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label" for="{{form.addressLine1To5Font.id_for_label}}">Address Font</label>
							<div class="col-md-4">
								<select id="id_addline1to5font" name="addressLine1To5Font" class="form-control">
									<option value="{{i.addressLine1To5Font}}">{{i.addressLine1To5Font}}</option>
									<option value="Times-Roman">Times-Roman</option>
									<option value="Times-Bold">Times-Bold</option>
									<option value="Times-Italic">Times-Italic</option>
									<option value="Times-BoldItalic">Times-BoldItalic</option>
									<option value="Courier">Courier</option>
									<option value="Courier-Bold">Courier-Bold</option>
									<option value="Courier-Oblique">Courier-Oblique</option>
									<option value="Courier-BoldOblique">Courier-BoldOblique</option>
									<option value="Helvetica">Helvetica</option>
									<option value="Helvetica-Bold">Helvetica-Bold</option>
									<option value="Helvetica-Oblique">Helvetica-Oblique</option>
									<option value="Helvetica-BoldOblique">Helvetica-BoldOblique</option>
									<option value="Symbol">Symbol</option>
									<option value="ZapfDingbats">ZapfDingbats</option>
								</select>
							</div>
							<label class="col-md-2 control-label" for="{{form.addressLine1To5FontSize.id_for_label}}">Address Font-Size</label>
							<div class="col-md-4">
								<input id="id_addline1to5fontsize" name="addressLine1To5FontSize" type="text" placeholder="Font-Size" class="form-control input-md" value="{{i.addressLine1To5FontSize}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="{{form.addressLine1.id_for_label}}">Address Line 1</label>
							<div class="col-md-10">
								<input id="id_addline1" name="addressLine1" type="text" placeholder="Address Line 1" class="form-control input-md" value="{{i.addressLine1}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="{{form.addressLine2.id_for_label}}">Address Line 2</label>
							<div class="col-md-10">
								<input id="id_addline2" name="addressLine2" type="text" placeholder="Address Line 2" class="form-control input-md" value="{{i.addressLine2}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="{{form.addressLine3.id_for_label}}">Address Line 3</label>
							<div class="col-md-10">
								<input id="id_addline3" name="addressLine3" type="text" placeholder="Address Line 3" class="form-control input-md" value="{{i.addressLine3}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="{{form.addressLine4.id_for_label}}">Address Line 4</label>
							<div class="col-md-10">
								<input id="id_addline4" name="addressLine4" type="text" placeholder="Address Line 4" class="form-control input-md" value="{{i.addressLine4}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="{{form.addressLine5.id_for_label}}">Address Line 5</label>
							<div class="col-md-10">
								<input id="id_addline5" name="addressLine5" type="text" placeholder="Address Line 5" class="form-control input-md" value="{{i.addressLine5}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="{{form.detailsFont.id_for_label}}">Details Font</label>
							<div class="col-md-4">
								<select id="id_detfont" name="detailsFont" class="form-control">
									<option value="{{i.detailsFont}}">{{i.detailsFont}}</option>
									<option value="Times-Roman">Times-Roman</option>
									<option value="Times-Bold">Times-Bold</option>
									<option value="Times-Italic">Times-Italic</option>
									<option value="Times-BoldItalic">Times-BoldItalic</option>
									<option value="Courier">Courier</option>
									<option value="Courier-Bold">Courier-Bold</option>
									<option value="Courier-Oblique">Courier-Oblique</option>
									<option value="Courier-BoldOblique">Courier-BoldOblique</option>
									<option value="Helvetica">Helvetica</option>
									<option value="Helvetica-Bold">Helvetica-Bold</option>
									<option value="Helvetica-Oblique">Helvetica-Oblique</option>
									<option value="Helvetica-BoldOblique">Helvetica-BoldOblique</option>
									<option value="Symbol">Symbol</option>
									<option value="ZapfDingbats">ZapfDingbats</option>
								</select>
							</div>
							<label class="col-md-2 control-label" for="{{form.detailsFontSize.id_for_label}}">Details Font-Size</label>
							<div class="col-md-4">
								<input id="id_detfontsize" name="detailsFontSize" type="text" placeholder="Font-Size" class="form-control input-md" value="{{i.detailsFontSize}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="{{form.collegeLogo.id_for_label}}">College Logo</label>  
							<div class="col-md-4">
								<input id="id_clogo" name="collegeLogo" type="file" class="form-control input-md" value="{{i.collegeLogo}}" title="{{i.collegeLogo}}">
							</div>
							<label class="col-md-2 control-label" for="{{form.parentLogo.id_for_label}}">Supervisor Logo</label>  
							<div class="col-md-4">
								<input id="id_ilogo" name="parentLogo" type="file" class="form-control input-md" value="{{i.parentLogo}}" title="{{i.parentLogo}}">
							</div>
						</div>
						{% if i.collegeLogo or i.parentLogo %}
						<div class="form-group">
							<div class="col-md-4 col-md-offset-2">
								{% if i.collegeLogo %}
								<span class="display"> Currently:<a href="{{i.collegeLogo.url}}" style=color:blue;> {{i.collegeLogo}} </a></span>
								{% endif %}
							</div>
							<div class="col-md-4 col-md-offset-2">
								{% if i.parentLogo %}
								<span class="display"> Currently:<a href="{{i.parentLogo.url}}" style=color:blue;> {{i.parentLogo}} </a></span>
								{% endif %}
							</div>
						</div>
						{% endif %}
						<div class="form-group">
							<label class="col-md-2 control-label" for="{{form.principalSign.id_for_label}}">Principal's Sign</label>  
							<div class="col-md-4">
								<input id="id_psign" name="principalSign" type="file" class="form-control input-md" value="{{i.principalSign}}" title="{{i.principalSign}}">
							</div>
							<label class="col-md-2 control-label" for="{{form.backgroundDesign.id_for_label}}">Background Design</label>  
							<div class="col-md-4">
								<input id="id_bdesign" name="backgroundDesign" type="file" class="form-control input-md" value="{{i.backgroundDesign}}" title="{{i.backgroundDesign}}">
							</div>
						</div>
						{% if i.principalSign or i.backgroundDesign %}
						<div class="form-group">
							<div class="col-md-4 col-md-offset-2">
								{% if i.principalSign %}
								<span class="display"> Currently:<a href="{{i.principalSign.url}}" style=color:blue;> {{i.principalSign}} </a></span>
								{% endif %}
							</div>
							<div class="col-md-4 col-md-offset-2">
								{% if i.backgroundDesign %}
								<span class="display"> Currently:<a href="{{i.backgroundDesign.url}}" style=color:blue;> {{i.backgroundDesign}} </a></span>
								{% endif %}
							</div>
						</div>
						{% endif %}


						<!-- filearea -->
						

						<!-- Button (Double) -->
						<div class="form-group">
							<label class="col-md-3 control-label" for="button1id"></label>
							<div class="col-md-8">
								<button id="button1id" type="submit" name="button1id" class="btn btn-success">Save</button>
								<a href="{% url 'studentPdfPreview' %}" target='_blank'><button type='button' class="btn btn-primary">View Full Preview</button></a>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
			<div class="col-sm-4 col-md-4">
				<iframe id="canvas" src="/studentPdfPreview"></iframe>
			</div>

		</div>
	</div>

	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</body>

</html>

{% endblock %}