.form{
	background:#f1f1f1; width:830px; margin:0 0px 20px; padding-left:5px; padding-top:20px; padding-right:5px
}
.form { font-size: 12px; font-family:Arial, Helvetica;}

.form label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }
.month {width: 10px;}
.form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }

.form input.buttom{ background: #4b8df9; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}
.form input.buttom:hover	{ background-color: #2a78f6; }
.display {font-family: 'Fira Sans', sans-serif; font-size: 12px;}